/*** sdfsdfsfsfsd
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

body {
  font-family: 'Bebas Neue', cursive;
  background-color: #0B191B;
  letter-spacing: 0.1em;
  font-size: 20px
}

#epos-container {
    display: flex;
    flex: 0 1 auto;
    margin: 1em;
    gap: 1em;
}

#products-and-ingredients {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 1em;
}

#productSelectionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    border: 1px solid white;
    padding: 1em;
}

.btn-product {
  color: #EEEEEE;
  border-radius: 5px;
  width: 130px;
  min-height: 3.5em;
  text-align: center;
  line-height: 1.25em;
  padding: 0 0.25em;
}

.btn--coffee {
  background-color: #452f10;
}

.btn--premium-coffee {
  background-color: #5E5553;
}

.btn--snack {
  background-color: #4E5E4F;
}

.btn--granita {
  background-color: #9BBFCC;
  color: #111111;
}

.btn--forbidden {
  background-color: #612823;
}

.btn--seasonal-coffee {
  background-color: orange;
}

#productSelectionGrid, .order-contents, #ingredients-panel {
  color: #D4C045;
  border: 1px solid #D4C045;
  padding: 1em;
}

#grapeList {
    padding-left: 0;
    padding-bottom: 0.25em;
}

#orderList {
    padding-left: 0;
    padding-bottom: 0.25em;
}

#orderRrp {
    padding-left: 0.275em;
}

#orderList li {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.25fr;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75em;
    margin-bottom: 0.2em;
}

.order-totals {
    border-top: 1px solid #D4C045;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.25fr;
    padding-top: 0.75em;
}

.item-order-qty, #orderCharge {
    border: 1.5px solid #D4C045;
    color: #D4C045;
    padding-left: 0.275em;
    background-color: #152F33;
}

.order-list-row {
  display: flex;
}

.btn-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-remove {
  background-color: #612823;
  border-radius: 100%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  cursor: pointer;
  width: 0.85em;
  height: 0.85em;
  background-image: url('x-mark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.375em;
}

